table {
    border-color: antiquewhite;
    background-color: #888;
}
.tablehead {
    border-color: antiquewhite;
    background-color: #888;
}
.tablebody {
    border-color: antiquewhite;
    background-color: #3f3636;
}