button {
    border: unset;
    background-color: #9999991c;
    border-radius: 2rem;
    height: 69px;
    width: 150px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;


}


:link a {
    color: #3d3d3d;
    text-decoration: none;
    height: inherit;
    width: inherit;

    
}




button a {
    border-style: unset;
    background-color: #6f6f6f;
    color: #5f5f5f;
    text-decoration: none;
    padding: 2px;



}

.close {
    color: rgb(48, 44, 44);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
